name: Actions environment inspector
on: [push]
jobs:
  Do-Things:
    runs-on: ubuntu-latest
    steps:
      - run: sleep 10
      - run: dpkg -l
      - run: snap list
      - run: snap changes
      - run: w
      - run: uptime
      - run: sudo snap find who-you-gonna-call--cachebusters
      - run: sudo snap install wgrant-test --beta
      - run: sudo snap refresh
      - run: uname -a
      - run: ls -l /var/lib/snapd/snaps/
      - run: sudo snap known serial
      - run: sudo snap tasks --last=auto-refresh || true
      - run: snap changes
